<div class="jumbotron">
    <h1 class="display-4">HOME</h1>
    <p class="lead">Testing Authentication with Node.js </p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo similique obcaecati quae! Incidunt dolor enim, nisi ea odit a. Facilis deserunt optio ipsum voluptatem magnam inventore, dolorum et. Numquam, porro.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://nodejs.org" role="button">Learn more</a>
    </p>
</div>